.about-container {
  background-image: url('https://res.cloudinary.com/dhgpf6985/image/upload/v1718041913/Pregnant-Woman-Meditating-800_nop4u4.webp');
  background-size: cover; /* Ensure the full image is visible */
  background-position: center; /* Center the image */
  height: 92vh;
  width: calc(99% - 180px); /* Adjust for the navbar width */
  margin-left: 180px; /* Account for the left-side navbar */
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #f8f9fa; /* Light color for readability */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
  overflow: hidden; /* Prevent scrolling */
  position: relative; /* Required for overlay positioning */
}

.about-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent black overlay */
  z-index: 1; /* Ensure the overlay is below the text */
}

.about-container h1, .about-container h2, .about-container h3, .about-container p {
  margin-bottom: 20px;
  text-align: center; /* Center all the text */
  position: relative;
  z-index: 2; /* Ensure the text is above the overlay */
  font-weight: bold; /* Make the text bold */
}

.about-container h1 {
  font-size: 2.5em;
  color: #ffffff; /* Ensure h1 text color is white */
}

.about-container h2 {
  font-size: 2em;
  color: #ffffff; /* Ensure h2 text color is white */
}

.about-container h3 {
  font-size: 1.5em;
  color: #ffffff; /* Ensure h3 text color is white */
}

.about-container p {
  font-size: 1.2em;
  color: #ffffff; /* Ensure paragraph text color is white */
  line-height: 1.6;
  max-width: 1580px; /* Increase width of paragraphs for better readability */
  margin: 0 auto; /* Center the paragraphs */
  position: relative;
  z-index: 2; /* Ensure the text is above the overlay */
}