.container {
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.newChat {
  text-align: center;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0px -20px;
  list-style-type: none;
}

li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

li:hover {
  background-color: #f0f8ff;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.chatSender {
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

.chatTime {
  font-size: 0.9em;
  color: #666;
}

.chatHistory {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.messageBubble {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
}

.messageBubble.sent {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.messageBubble.received {
  background-color: #f0f8ff;
  align-self: flex-start;
}

.messageTimestamp {
  font-size: 0.8em;
  margin-top: 5px;
  color: #999;
  text-align: right;
}

.messageBubble.sent .messageTimestamp {
  color: #cccccc;
}

.messageBubble.received .messageTimestamp {
  color: #666666;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input[type="text"],
form textarea {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

input {
  outline: none;
}
input:focus {
  border-color: #007bff;
}

form textarea:focus {
  border-color: #007bff;
}

.messageInput {
  border-radius: 10px;
}

form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

.sendButton {
  width: 400px;
}

.deleteButton,
.backButton {
  display: inline-block;
  background-color: #007bff;
  padding-top: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 195px;
}

.deleteButton {
  background-color: #007bff;
  margin-left: 5px;
  margin-right: 0;
}

.deleteButton:hover {
  background-color: #0056b3;
}

.backButton {
  background-color: #007bff;
  margin-right: 5px;
  margin-left: 0;
}

.backButton:hover {
  background-color: #0056b3;
}

/* Headings */
h3 {
  text-align: center;
  margin: 10px 0;
}

h4.chatSubject {
  text-align: center;
  color: #555;
}

.userSearchContainer {
  text-align: center;
}

.chatContainer {
  display: flex;
  gap: 10px;
  margin-left: 360px;
}

.chats {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #eeeffc;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  color: black;
}

.chatDetail {
  flex: 2;
  border: 1px solid #eeeffc;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.selectedChat {
  flex: 1;
  text-align: center;
}

.title {
  margin-right: 150px;
  justify-self: start;
}
.returnToDashButton {
  margin-left: 150px;
  justify-self: end;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

.returnToDashButton:hover {
  background-color: #0056b3;
}

.topContainer {
  text-align: center;
  display: flex;
  margin-left: 400px;
  margin-bottom: 30px;
}
