.meeting-scheduler {
  margin-top: 80px;
  margin-left: 360px;
  /* display: flex; */
  height: 100vh;
  font-family: "Arial", sans-serif;
  color: black;
  text-align: center;
  padding: 0 100px;
  width: 70%;
}

.cancel,
.reschedule {
  border-radius: 50px;
  background-color: #545fdd;
}

.cancel:hover,
.reschedule:hover {
  background-color: #4750ba;
}

.cancel {
  margin-right: 5px;
}

.button-container {
  text-align: center;
}

select {
  padding: 2px 10px;
  margin-left: 5px;
}

.meeting-scheduler-appointment-item {
  padding-top: 0;
}

.meeting-scheduler-upcoming-title {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}
