.meeting-scheduler {
  font-family: "Arial", sans-serif;
  color: black;
  text-align: center;
  padding: 30px 100px;
  width: 75%;
}

.meetingSchedulerButton {
  color: white;
  background-color: #007bff !important;
}

.meeting-scheduler-submit-button:hover {
  background-color: #0056b3;
}

.cancel,
.reschedule {
  border-radius: 50px;
  background-color: #007bff;
  color: white;
}

.cancel:hover,
.reschedule:hover {
  background-color: #0056b3;
}

.cancel {
  margin-right: 5px;
}

.button-container {
  text-align: center;
}

select {
  padding: 2px 10px;
  margin-left: 5px;
}

.meeting-scheduler-appointment-item {
  padding-top: 0;
}

.meeting-scheduler-upcoming-title {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.meeting-scheduler-appointment-item:hover {
  background-color: #f0f8ff;
}
