/* General layout */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  background-color: white; /* Light pink background */
  border-right: 1px solid #dee2e6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px; /* Adjust the width as needed */
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-logo img {
  width: 150px; /* Adjust the logo size as needed */
  margin-bottom: 20px;
  filter: invert(38%) sepia(94%) saturate(2029%) hue-rotate(196deg) brightness(99%) contrast(101%);
}

.navbar-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-links a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff; /* Blue text */
  transition: color 0.15s ease-in-out;
}

.navbar-links a:hover {
  color: #0056b3; /* Darker blue on hover */
}

.navbar-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff; /* Blue background */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
  margin-bottom: 10px; /* Add margin-bottom to buttons to space them out */
  width: 150px;
}

.navbar-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.navbar-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-user-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
}